[submodule "filter/multilang2"]
	path = filter/multilang2
	url = https://github.com/iarenaza/moodle-filter_multilang2
	branch = master
[submodule "admin/tool/clearbackupfiles"]
	path = admin/tool/clearbackupfiles
	url = https://github.com/doiphode/moodle-tool_clearbackupfiles
	branch = master
[submodule "admin/tool/mergeusers"]
	path = admin/tool/mergeusers
	url = https://github.com/jpahullo/moodle-tool_mergeusers
	branch = master
[submodule "report/coursesize"]
	path = report/coursesize
	url = https://github.com/catalyst/moodle-report_coursesize
	branch = MOODLE_401_STABLE
